/dts-v1/;
/plugin/;
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/pinctrl/mt8189-pinfunc.h>

/ {
	fragment@0 {
		target = <&mipi_tx_config0>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@1 {
		target = <&dsi0>;
		__overlay__ {
			status = "okay";

			ports {
				port {
					dsi0_out: endpoint {
						remote-endpoint = <&sn65dsi83_in>;
						data-lanes = <1 2 3 4>;
					};
				};
			};
		};
	};

	fragment@2 {
		target = <&i2c5>;
		__overlay__ {
			sn65dsi83: bridge@2d {
				compatible = "ti,sn65dsi83";
				reg = <0x2d>;
				enable-gpios = <&pio 23 GPIO_ACTIVE_HIGH>;
				pinctrl-names = "default";
				pinctrl-0 = <&sn65dsi83_pins_default>;

				ports {
					#address-cells = <1>;
					#size-cells = <0>;

					port@0 {
						reg = <0>;
						sn65dsi83_in: endpoint {
							remote-endpoint = <&dsi0_out>;
							data-lanes = <1 2 3 4>;
						};
					};

					port@2 {
						reg = <2>;
						sn65dsi83_out: endpoint {
							remote-endpoint = <&panel_in_lvds>;
						};
					};
				};
			};
		};
	};

	fragment@3 {
		target-path = "/";
		__overlay__ {
			lcd_blk_en: lcd_blk_en {
				compatible = "regulator-fixed";
				regulator-name = "lcd_blk_en";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				gpio = <&pio 142 GPIO_ACTIVE_HIGH>;
				pinctrl-names = "default";
				pinctrl-0 = <&lcd_blk_en_pins_default>;
				enable-active-high;
				regulator-always-on;
			};

			lcd_vdd_en: lcd_vdd_en {
				compatible = "regulator-fixed";
				regulator-name = "lcd_vdd_en";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				gpio = <&pio 139 GPIO_ACTIVE_HIGH>;
				pinctrl-names = "default";
				pinctrl-0 = <&lcd_vdd_en_pins_default>;
				enable-active-high;
				regulator-always-on;
			};

            panel_lvds: panel-lvds {
                compatible = "ampire,am-1280800n3tzqw-t00h";
                backlight = <&backlight_lcd0>;
                port {
                    panel_in_lvds: endpoint {
                        remote-endpoint = <&sn65dsi83_out>;
                    };
                };
            };
		};
	};

	fragment@4 {
		target = <&pio>;
		__overlay__ {
			lcd_blk_en_pins_default: lcd-blk-en-pins-default {
				panel-en {
					pinmux = <PINMUX_GPIO142__FUNC_GPIO142>;
					output-low;
				};
			};

			lcd_vdd_en_pins_default: lcd-vdd-en-pins-default {
				panel-en {
					pinmux = <PINMUX_GPIO139__FUNC_GPIO139>;
					output-low;
				};
			};

			sn65dsi83_pins_default: sn65dsi83-pins-default {
				pins-enable {
					pinmux = <PINMUX_GPIO23__FUNC_GPIO23>;
					output-low;
				};
				pins-int {
					pinmux = <PINMUX_GPIO24__FUNC_GPIO24>;
					input-enable;
					bias-pull-up;
				};
			};
		};
	};
};
